<mat-card class='game-board'>
  <mat-card-content>
    <img src='../../assets/logo.png'>
    <table>
      <ng-container *ngFor="let row of player1; let i =index">
        <tr>
          <ng-container *ngFor="let cell of row; let j = index">
            <td>
              <button (click)="shoot(cell)" mat-button id={{j}},{{i}}>{{cell.hit}}</button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
    <table>
    </table>
  </mat-card-content>
</mat-card>